/* CSS Document for Screens */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700);

/* --- colors --- 

	gold: #B9992F;
	bright gold: #e0b819;
	red: #c14f2d; rgba(193,79,45,.9)

*/


/* GLOBAL STYLES */

html, h1, h2, h3, h4, p, div, header, section, article, nav, ul, li, a { margin:0; padding:0; }

body { min-width:960px; font-family: 'Open Sans', sans-serif; font-size: 16px; color:#555; font-weight: 300; margin:0; padding:0; }

ul { list-style: none; }

a, a:hover, a:visited { text-decoration: none !important; }

h2, h3, h4 { 
	font-family: 'Crimson Text', serif;
}


/* Changes to Bootstrap styles */

.row {
	margin:0;
}

.container-fluid { padding:0; }

/* Page */

.container-fluid { max-width: 100%; width: 100%; }

/* Nav */ 


header { 
	position: relative;
}

#main-nav {
	width: 100%;
	position: absolute; top:0%;
	background: rgba(100,100,100,.5); 
	height: 100px;
}

#main-nav ul { max-width: 600px; margin: 0 auto; height:34px; }

#main-nav li { 
	background-color: rgba(0,0,0,.90); border-left: 1px solid #B9992F; border-bottom: 1px solid #B9992F; 
	float: left; width: 140px; text-align: center; z-index: 100;
}

#main-nav li a { color:#fff; padding: 0 10px; line-height: 2em; display:block;}

#main-nav li a:hover { 
	background-color: rgba(185,153,47,.50);
	color: #fff;
}


#main-nav li:last-child { border-right: 1px solid #B9992F;}

#main-nav::after { content:''; display:block; height: 0px; clear:both; }

 /* highlight active page */

body.home a.home, body.about a.about, body.events a.events, body.contact a.contact {
	background-color: rgba(185,153,47,.50);
	color: #fff;
}


/* Logo */

#main-nav a.logo { 
	display: block;
	float: left;
	background: url("../images/logo3.png") no-repeat center top;
	background-size: contain;
	width: 145px; height: 100px;
	margin-left: 50px; margin-top: 10px;
}


/* Footer */


footer {
	height: 60px;
	background-color: rgba(0,0,0,.9);
	position: relative;
}

footer p.copyright { display: inline-block; position: absolute; font-size: 1em; margin-right: 50px; left: 3%; bottom: 30%; }

#footer-nav { 
	position: absolute; bottom:0%;
	width: 100%;
	height: 60px;
}

#footer-nav ul {
	margin: 0 auto;
	height: 60px;
	width: 25%;
	padding: 19px 0 19px 0 ;
}

#footer-nav li { 
	display: inline-block;
	float: left; width: 25%; 
	text-align: center;
}

#footer-nav a:hover {
	color: #c14f2d;
}

#footer-nav ul::after { 
	content:'';
	height:0px; width: 0px;
	clear: both;
}

#footer-nav ul li:last-child {
	border-right: none !important;
}

#footer-nav li a { color:#B9992F; padding: 0 10px; display:inline-block; font-size: 1em; }

footer {
	border-top: 1px solid #ddd;
}

footer #fb-link {
	position: absolute; right: 3%; bottom:20%;
	display: inline-block;
	height: 35px; width: 35px;
	background: url(../images/icon-facebook.png);
	background-size: cover;
}

footer #fb-link:hover {
	background: url(../images/icon-facebook-red.png);
	position: absolute; right: 3%; bottom:20%;
	display: inline-block;
	height: 35px; width: 35px;
	background-size: cover;
}

footer #fb-link p { 
	display: none;
}



/* HOME PAGE STYLES */

/* Home page Header */

header.home { 
	height: 800px; 
	background: #fff url(../images/hero-banner.jpg) no-repeat center top; 
	background-size: cover;
}

/* Hero Text */

#hero-text {  
	text-align: center; 
	background: rgba(25,25,25,.9); 
	min-height:70px; padding:14px;
	min-width: 450px;
	width:50%;
	border: 1px solid #B9992F;
	border-radius: 10px 10px 10px 10px;
	margin-top: 0px;
	display: inline-block;
	position: absolute; bottom: 40px; left: 25%;
}

#hero-text h1 { color: #e0b819; font-size: 2.7em; line-height: .4; letter-spacing: 16px; margin-right: -.5em; }
#hero-text h1::last-letter { letter-spacing: normal; }
#hero-text h4 { color: #fff; font-size: 1em; padding-top: 26px; text-transform: uppercase; letter-spacing: 3px; line-height: .4;  }

/* Intro */

#intro {
	border: 1px solid #000;
}

#intro article {
	background-color: rgba(185,153,47,.80);
	padding: 2% 60px 70px 20px;
	height: 300px;
}

#intro-header {
	text-align: right;
	background: -moz-linear-gradient(to right, #B9992F, transparent), -webkit-linear-gradient(to right, #B9992F, transparent), -ms-linear-gradient(to right, #B9992F, transparent), linear-gradient(to right, #B9992F, transparent),
				#B9992F url(../images/brass-instruments.jpg) no-repeat center;
	background-size:cover;
	height: 300px;
	color: #fff;
	font-weight: 700;
	padding: 0;
}

#intro-header h2 {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
	margin: 112px 0 0 0;
	padding: 10px 10px 10px 20px; 
	text-align: right;
	color: #fff;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.3;
	background-color: rgba(0,0,0,.4);
	border-radius: 5px 0px 0px 5px;
}


#intro p { 
	color:#fff;
	font-weight: 400;
	margin-right: 40px;
}

#intro a.btn-custom { 
	display: block;
	color: #e0b819; 
	font-weight: bold;
	margin-top: 10px; 
	text-align: center; 
	padding: 5px;
	line-height: 1.5;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,.80);
	width: 240px;
}

#intro a.btn-custom:hover {
	border: 1px solid #000;
	background-color: rgba(185,153,47,.50);
	color: #fff;
}

#intro a.btn-custom p {
	font-size: 1em;
	text-align: center;
	color: inherit;
	margin: 0;
}


/* Home Page Headshot Thumbnails */

#headshot-thumbnails {
	min-height: 400px;
	background-color: #fff;
	text-align: center;
	padding-top: 50px;
}

#headshot-thumbnails li {
	padding-top: 15px;
}

#headshot-thumbnails img {
	height: 140px;
	width: 140px;
}

#headshot-thumbnails h2 {
	color:#c14f2d;
	font-size: 2em;
	font-weight: bold;
}

#headshot-thumbnails a.thumbnail-heading { 
	display:inline-block;
	text-align: center;
	min-width: 180px;
}

#headshot-thumbnails a.thumbnail-heading:hover h2 {
	color:#B9992F;
}

.thumbnail-link {
	display:block;
	float:left;
	min-height: 160px;
	min-width: 160px;
	width:16.6%;
	border-right: 1px solid #000;
}

.thumbnail-link:hover {
	background-color: #B9992F;
} 

.thumbnail-link:hover li h4 {
	color:#fff !important;
	font-weight: bold;
}

.thumbnail-link:hover li p {
	color:#c14f2d !important;
	font-weight: bold;
}


#headshot-thumbnails {
	padding-bottom: 30px;
}

#headshot-thumbnails ul {
	padding-top: 20px;
	text-align: center;
	margin: 0 auto;
}

#headshot-thumbnails li:last-child {
	border-right: none;
}

#headshot-thumbnails img {
	margin: 0 auto;
	display:block;
}

#headshot-thumbnails li h4 { 
	margin-top: 14px;
	font-size: 1.4em;
	line-height: 1;
	color: #B9992F;
	font-weight: bold;
}

#headshot-thumbnails li p {
	font-size: 1em;
	color: #c14f2d;
	margin-bottom: 10px;
}

#headshot-thumbnails::after { content:''; height:0; clear:both; }

section.events {
	background-color: rgba(193,79,45,.9);
	height: 250px;
	border-top: 1px solid #000;
}

section.events #event-heading {
	background: #c14f2d url(../images/greenville-downtown.jpg) no-repeat; background-size: cover;
	height: 250px;
	padding:0px;
}

section.events #event-heading h2 {
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	margin: 100px 0 100px 0px;
	padding: 10px 20px 10px; 
	text-align: left;
	color: #fff;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.3;
	background-color: rgba(0,0,0,.4);
	border-radius: 0px 5px 5px 0;
}

section.events article {
	text-align: right;
	padding: 3% 20px 50px 20px;
	margin: 0;
}

section.events h4.date:after {
	content:' | ';
	display: inline;
}

section.events h4 {
	color:#e0b819;
	font-weight: bold;
	display: inline-block;
}

section.events p {
	color:#fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 70px;
}

section.events a.btn-custom { 
	display: inline-block;
	color: #B9992F; 
	font-weight: bold;
	margin-top: 20px; 
	text-align: center; 
	padding: 10px;
	line-height: 1.5;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,.80);
	width: 150px;
}

section.events a.btn-custom:hover {
	border: 1px solid #000;
	background-color: rgba(185,153,47,.50);
	color: #fff;
}



/* ABOUT PAGE STYLES */

#about-container {
	background: #000;
}

header.about { 
	position: relative; 
	height: 800px; 
	background: #fff url(../images/about-banner.jpg) no-repeat center top; 
	background-size: cover;
}

#about-intro {
	background: rgba(0,0,0,.8);
	background: -webkit-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1));
	background: -o-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1)); 
    background: -moz-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1)); 
	background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1));
	width: 100%; height: 400px;
	position: absolute; bottom:0%;
}

#about-intro p {
	color: #fff;
	text-align: center;
	max-width: 50% !important;
	margin: 20px auto 20px;
}

#about-intro h2 {
	margin-top: 150px;
	color: #fff;
	text-align: center;
	font-weight: 700;
}

#bios {
	background: #000;
	max-width: 1400px;
	position: relative;
	margin: 0 auto;
}

div.bio-right,div.bio-left {
	background: rgba(0,0,0,1);
	height: 600px;
	margin: 0 auto;
	position: relative;
	padding: 38px 0;
}

#bios img {
	border: 7px solid #fff;
}

#bios article, #bios img, #bios h4, #bios p, #bios div.name-container {
	display: inline-block !important;
}

    /* Bios with text on the right */

div.bio-right img {
	height: 524px;
	position: absolute; left: 5%;
}

div.bio-right div.name-container {
	text-align: center;
	height: 524px;
	position: absolute; left: 50%;
	margin-left: -100px;
}

div.bio-right article.bio {
	/* padding: 50px 50px 50px 50px; */
	text-align: center;
	height: 524px;
	max-width: 500px;
	position: absolute; right: 5%;
}


   /* Bios with text on the left */

div.bio-left img {
	height: 524px;
	position: absolute; right: 5%;
}

div.bio-left div.name-container {
	text-align: center;
	height: 524px;
	position: absolute; right: 50%;
	margin-right: -100px;
}

div.bio-left article.bio {
	/* padding: 50px 50px 50px 50px; */
	text-align: center;
	height: 524px;
	max-width: 500px;
	position: absolute; left: 5%;
}

div.name-container h4 {
	position: absolute; top: 50%; left: 50%;
  	margin-top: -50px; 
  	margin-left: -120px;
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: 700;
	color: #ddd;
	width: 240px;
	height: 50px;
}

div.name-container h4 strong {
	font-size: 1.4em;
	color: #e0b819;
}

div.name-container h4.bio-instrument {
	color: #ddd;
}

article.bio p {
	display: inline-block;
	font-size: 1em; 
	color: #fff;
	margin: 50px 0; 
}

#bios div.bio-right::after, #bios div.bio-left::after  {
	content: '';
	height: 0px;
	clear:both;
}


/* CONTACT PAGE STYLES */

#contact-container {
	background: #000;
}

header.contact { 
	position: relative; 
	height: 600px; 
	background: #fff url(../images/contact-banner.jpg) no-repeat center top; 
	background-size: cover;
}

#contact-intro {
	background: rgba(0,0,0,.8);
	background: -webkit-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1));
	background: -o-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1)); 
    background: -moz-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1)); 
	background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,1));
	width: 100%; height: 200px;
	position: absolute; bottom:0%;
}

#contact-intro h2 {
	margin-top: 150px;
	color: #fff;
	text-align: center;
	font-weight: 700;
}


